* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.bayan {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid black;
}

.bayan__title {
  text-align: center;
  font-size: 2rem;
  line-height: 125%;
  font-weight: 600;
}

input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}

input:checked+span {
  color: black;
}

input:checked~.bayan__body {
  max-height: 100vh;
}

input:checked~.bayan__btn {
  transform: rotate(180deg);
}

span {
  display: block;
}

.bayan__body {
  overflow: hidden;
  max-height: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}



.bayan__item {
  position: relative;
  width: 100%;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;
  border: 0.2rem solid brown;
}

.bayan__text {
  display: block;
  font-size: 1rem;
  line-height: 125%;
  font-weight: 500;
  color: blue;
  cursor: pointer;
}



label:active {
  opacity: 0.8;
}

.bayan__btn {
  display: none;
  position: absolute;
  right: 0.8rem;
  top: 1rem;
  transition: all 0.3s ease;
}

@media (min-width: 767px) {
  .bayan {
    width: 80vw;
  }

  .bayan__title {
    font-size: 2.2rem;
  }

  .bayan__text {
    font-size: 1.2rem;
  }

  .bayan:hover .bayan__btn {
    display: block;
  }
  
  .bayan:hover .bayan__text {
    color: black;
  }

  label:hover .bayan__body {
    max-height: 100vh;
  }
  
  label:hover .bayan__btn {
    transform: rotate(180deg);
  }
}

@media (min-width: 1023px) {
  .bayan {
    width: 60vw;
  }

  .bayan__title {
    font-size: 2.8rem;
  }

  .bayan__text {
    font-size: 1.6rem;
  }
}

@media (min-width: 1119px) {
  .bayan {
    width: 50vw;
  }

  .bayan__title {
    font-size: 3rem;
  }

  .bayan__text {
    font-size: 2rem;
  }
}

@media (min-width: 1920px) {
  .bayan {
    width: 40vw;
  }
}